@use '../abstracts/' as *;

.filter__dropdown {
  position: absolute;
  top: 10.2rem;
  right: 0;
  @include divStyling1;
  width: 18.5%;
  z-index: 3;
  min-width: 17.5rem;

  @include mq(870px) {
    width: 22%;
  }

  @include mq(land-phone){
    width: 25%;
  }

  @include mq(640px){
    top: 16.6rem;
    left: 0;
  }

  &-item {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
    padding: .8rem 0 .8rem 2.4rem;
    transition: all 0.3s ease-in-out;
  }
}
