@use "../abstracts/" as *;

.hidden {
  visibility: hidden;
}

.special-hidden{
  display: none;
}

.not-active{
  display: none;

  @include mq(640px){
    display: block;
  }
}

.active{
  display: block;

  @include mq(640px){
    display: none;
  }
}

.dark-mode-elements {
  color: $dark-mode-elements;
}

.dark-bg{
  background-color: $dark-mode-bg;
}

.dark-mode-text {
  color: $dark-mode-text;
}

.light-mode-elements {
  color: $light-mode-elements;
}

.light-mode-text {
  color: $light-mode-text;
}

.light-mode-bg{
  background-color: $light-mode-bg;
}