@use '../abstracts/' as *;

.hidden {
  display: none;
}

.special-hidden {
  display: none;
}

.not-active {
  display: none;

  @include mq(640px) {
    display: block;
  }
}

.active {
  display: block;

  @include mq(640px) {
    display: none;
  }
}

.rotate180 {
  transform: rotate(180deg);
}


.dark-mode {
  background-color: $dark-mode-elements;
  border: $dark-mode-elements;
  color: $dark-mode-text;
}

.light-mode {
  background-color: $light-mode-elements;
  border: $light-mode-elements;
  color: $light-mode-text;
}

.dark-mode-bg{
  background-color: $dark-mode-bg;
}

.light-mode-bg{
  background-color: $light-mode-bg;
}

.dark-mode-text{
  color: $dark-mode-text;
}

.light-mode-text{
  color: $light-mode-text;
}
