@use '../abstracts/' as *;

.section-enquiries {
  padding-top: 4rem;
  @include dflexcomp;
  position: relative;

  .enquiries-input-field {
    @include divStyling1;
    width: 30%;
    @include dflexhalf;
    justify-content: space-around;

    .input-search-icon-dark {
      width: 1.2rem;
      height: 1.2rem;
      //   margin-right: 1rem;
    }

    .enquiries-input {
      padding: 2rem 0;
      outline: none;
      width: 80%;
    }
  }

  .enquiries-filter {
    @include dflexhalf;
    justify-content: space-between;
    @include divStyling1;
    padding: 1.9rem 2.2rem 1.9rem 2.4rem;
    width: 18.5%;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    
    @include mq(870px){
      width: 22%;
    }
    
    @include mq(land-phone){
      width: 25%;
      font-size: 1.1rem;
    }
    
    @include mq(phone){
      width: 30%;
    }
    
    @include mq(475px){
      width: 35%;
    }
    
    @include mq(395px){
      border: 1px solid red;
      width: 45%;
    }

    &:hover {
      background-color: hsl(200, 30%, 26%);
    }

    .enquiries-filter-icon {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      @include mq(land-phone){
        font-size: 1.1rem;
      }
    }
  }
}
