@use '../abstracts/' as *;

.section-enquiries {
  margin-top: 4.8rem;
  @include dflexcomp;

  .enquiries-input-field {
    @include divStyling1;
    width: 30%;
    @include dflexhalf;
    justify-content: space-around;

    .input-search-icon {
      width: 1.2rem;
      height: 1.2rem;
    //   margin-right: 1rem;
    }

    .enquiries-input {
      background-color: $dark-mode-elements;
      padding: 1.9rem 0;
      border: $dark-mode-elements;
      outline: none;
      width: 80%;
      color: white
    }
  }

  .enquiries-filter {
    @include dflexhalf;
    justify-content: space-around;
    @include divStyling1;
    padding: 1.9rem 0;
    width: 15%;

    .enquiries-filter-icon {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}
