@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

header {
  width: 100%;
  background-color: $dark-mode-elements;
  color: $light-mode-elements;
  // border: 1px solid yellow;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include m-auto;
    padding: 2rem 0;

    .div-left {
      font-family: Nunito Sans;
      font-size: 2.4rem;
      font-weight: 800;
      @include textBasic;
      flex-basis: 80%;
      // border: 1px solid blue;
    }

    .div-right {
      flex-basis: 12%;
      @include dflexcomp;
      font-size: 1.6rem;
      font-weight: 600;
      @include textBasic;
      // border: 1px solid red;

      .theme-icon {
        // border: 1px solid blue;
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
